IN_DOCKER=true

# Solr setting
SOLR_URL_SCHEME=http
SOLR_HOST=solr
SOLR_PORT=8983
SOLR_CORE=hyrax_production
SOLR_TEST_PORT=8983

# Database setting
POSTGRES_HOST_APP=appdb
POSTGRES_HOST_FCREPO=fcrepodb
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB_APP=hyrax_production
POSTGRES_DB_TEST=hyrax_test
POSTGRES_DB_FCREPO=fcrepo

# Redis setting
REDIS_HOST=redis
REDIS_PORT=6379

# Fedora setting
FEDORA_URL_SCHEME=http
FEDORA_HOST=fcrepo
FEDORA_PORT=8080
# FCREPO_ENDPOINT=hyrax_production # Optional - default is production
# FCREPO_PATH is Optional - default is /fcrepo/rest
FCREPO_PATH=/fcrepo/rest
FCREPO_VERSION=4.7.5
FCREPO_DEVELOPMENT_PORT=8080
FEDORA_TEST_PORT=8080

# RAILS setting
LANG=C.UTF-8
PORT=3000
RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true
RAILS_MAX_THREADS=5
# The secrect key should be a very long random key.
# You can use "$ bundle exec rails secret" to generate one.
SECRET_KEY_BASE_PRODUCTION=
DEVISE_SECRET_KEY=
# used for production
RAILS_FORCE_SSL=false

# Matomo Settings
MYSQL_ROOT_PASSWORD=password
MYSQL_PASSWORD=password
MYSQL_DATABASE=matomo
MYSQL_USER=matomo
MATOMO_DATABASE_ADAPTER=mysql
MATOMO_DATABASE_TABLES_PREFIX=matomo_
MATOMO_DATABASE_USERNAME=matomo
MATOMO_DATABASE_PASSWORD=password
MATOMO_DATABASE_DBNAME=matomo
MATOMO_DATABASE_HOST=matomo_db

# Matomo analytics setting for the application
HYRAX_ANALYTICS=true
HYRAX_ANALYTICS_PROVIDER=matomo
ANALYTICS_START_DATE=2022-02-18
MATOMO_SITE_ID=
MATOMO_BASE_URL=
MATOMO_AUTH_TOKEN=

# Hyrax application setting
HOST_APP_DATA_PATH=./data/
DERIVATIVES_PATH=/shared/derivatives/
FITS_PATH=/fits/fits-1.5.0/fits.sh
FITS_VERSION=1.5.0
UPLOADS_PATH=/shared/uploads/
CACHE_PATH=/shared/cache/
BRAND_PATH=/data/public/branding
DEFAULT_DATE_FORMAT=%d/%m/%Y
NOTIFICATIONS_EMAIL_DEFAULT_FROM_ADDRESS=no-reply@mailboxer.com
USER_MANAGEMENT_EMAIL_FROM_ADDRESS=repo-admin@example.org
CONTACT_FORM_SUBJECT_PREFIX='Hyrax Contact form:'
CONTACT_EMAIL=
FROM_EMAIL=
SMTP_PASS=
GEONAMES=
IIIF_SEARCH_ENDPOINT=
CONFIG_IIIF_IMAGE_ENDPOINT=
# If the rails server is configured to serve requests in https, set this to true
IIIF_TO_SERVE_SSL_URLS=false

# Browse Everything credentials
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=

SMTP_HOST=
SMTP_PORT=

# Host used for generating URLs
APP_HOST=localhost:3000


# selenium for unit test 
HUB_URL=http://chrome:4444/wd/hub
